@import "tailwindcss";

html {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

#background {
  width: 100%;
  height: 100vh;
  background-image: url("../imgs/sindang.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
