@import "tailwindcss";
@config '../tailwind.config.ts';

body {
  margin: 0;
  overflow: hidden;
  background: #111;
}

canvas {
  display: block;
}

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
